@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #141414;
    color: white;
    font-family: 'Geologica', sans-serif;
    font-size: 25px;
}

.titulo-principal{
display: flex;
align-items: center;
justify-content: center;
margin-top: 170px;


}

.pagina-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
}

.perfil-um{
    border: 3.2px solid rgba(0, 0, 0, 0);
    border-radius: 6%;
    height: 160px;
    margin: 18px;
 
}

.perfil-um:hover{
    border-color: white;
}

.legenda-um{
    color: #787878;
    
    font-size: 20px;
    text-align: center;
}

.legenda-um:hover{
    color: white;
}


.link-um{
    color: white;
}

.perfil-dois{
    border: 3.2px solid rgba(0, 0, 0, 0);
    border-radius: 6%;
    height: 160px;
    margin: 18px;
}
.perfil-dois:hover{
    border-color: white;
}


.perfil-tres{
    border: 3.2px solid rgba(0, 0, 0, 0);
    border-radius: 6%;
    height: 160px;
    margin: 18px;
}

.perfil-tres:hover{
    border-color: white;
}


.perfil-quatro{
    border: 3.2px solid rgba(0, 0, 0, 0);
    border-radius: 6%;
    height: 160px;
    margin: 18px;
}
.perfil-quatro:hover{
    border-color: white;
}

.adicionar-perfil{
    border: 3.2px solid rgba(0, 0, 0, 0);
    border-radius: 6%;
    height: 170px;
    margin: 18px;

}

.adicionar-perfil:hover{
    border-color: white;
}


.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

}
.botao-perfil{
    background-color: rgba(0, 0, 0, 0.018);
    color:  #787878;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-color: #838282;
    font-family: 'Geologica', sans-serif;
    font-size: 18px;
}

.botao-perfil:hover{
    color: white;
    border-color: white;
}
  